{% extends "base.html" %}
{% load static iam_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Adicionar Usuário
{% endblock title %}

{% block content %}
<div class="container-xxl mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Adicionar Usuário</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if user|has_perm:"accounts.add_user" or user|has_perm:"accounts.change_user" %}
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}