{% extends "base.html" %}
{% load static iam_tags %}
{% load crispy_forms_tags static %}

{% block title %}
Editar Grupo
{% endblock title %}

{% block content %}
<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Editar Grupo</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {% if user|has_perm:"auth.add_group" or user|has_perm:"auth.change_group" %}
            <button type="submit" class="btn btn-primary">Salvar</button>
            {% endif %}
            <a href="{% url 'accounts:group_list' %}" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% block extra_scripts %}
<script>
  $(document).ready(function() {
      $('.selectmultiple').select2({
          placeholder: "Selecione uma opção",
          allowClear: true
      });
  });
</script>
{% endblock %}

{% endblock %}

