{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Grupos
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Grupos</h4>
          <div>
            <form action="" method="get" class="d-inline-block me-2" id="searchForm">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Pesquisar grupos" value="{{ request.GET.search }}" onchange="this.form.submit()">
                <a href="{% url 'accounts:group_list' %}" class="btn btn-outline-secondary">
                  <i class="bx bx-x"></i>
                </a>
              </div>
            </form>
            <!-- Button trigger modal -->
            {% if user|has_perm:"auth.add_group" %}
            <a href="{% url 'accounts:group_create' %}" class="btn btn-primary">
              <i class="bx bx-plus me-1"></i>
              Criar Grupo
            </a>
            {% endif %}
            <!-- Modal -->
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Nome do Grupo</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for group in groups %}
                <tr>
                  <td>{{ group.name|title }}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        {% if user|has_perm:"auth.change_group" %}
                        <a class="dropdown-item" href="{% url 'accounts:group_update' group.pk %}">
                          <i class="bx bx-edit me-1"></i> Editar
                        </a>
                        {% endif %}
                        {% if user|has_perm:"auth.delete_group" %}
                        <form method="post" action="" class="d-inline-block">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item text-danger">
                            <i class="bx bx-trash me-1"></i> Excluir
                          </button>
                        </form>
                        {% endif %}
                      </div>
                    </div>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="2">Nenhum grupo encontrado</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include "snippets/pagination.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}