{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Editar Perfil
{% endblock title %}

{% block content %}
<div class="container-xxl mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Editar Perfil</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'accounts:my_profile_update' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" name="save_profile" class="btn btn-primary">Salvar</button>
                    </form>
                    <p class="mt-3"> Redefinir Senha <a href="{% url 'accounts:password_reset_confirm' %}">Clique Aqui</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Redefinir Senha</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'accounts:password_change' %}">
                        {% csrf_token %}
                        {{ password_form|crispy }}
                        <button type="submit"  name="change_password" class="btn btn-primary">Redefinir Senha</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</div>
{% endblock %}