{% extends 'base_login.html' %}
{% load static %}
{% load static crispy_forms_tags %}

{% block extra_head %}
<style>
  body {
    background-image: linear-gradient(120deg, #619CFF, #896CFF, #B43AFF);
  }
</style>
{% endblock extra_head %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6">
    <div class="authentication-inner">
      <!-- Login -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="#" class="app-brand-link gap-2">
              <img src="#" alt="logo" class="app-brand-logo" style="width: 100px;">
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Bem-vindo! 👋</h4>
          <p class="mb-4">ao sistema.</p>

          {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <form id="formAuthentication" class="mb-3" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}