{% extends 'base_login.html' %}
{% load static %}
{% load static crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6">
    <div class="authentication-inner">
      <!-- Reset Password -->
      <div class="card">
        <div class="card-body">
          <h4 class="mb-2">Redefinir Senha 🔒</h4>
          <p class="mb-4">Insira seu email e enviaremos instruções para redefinir sua senha</p>

          {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.email|as_crispy_field }}
            </div>
            <button class="btn btn-primary d-grid w-100" type="submit">Enviar</button>
          </form>

          <p class="text-center mt-3">
            <a href="{% url 'accounts:login' %}">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              Voltar ao login
            </a>
          </p>
        </div>
      </div>
      <!-- /Reset Password -->
    </div>
  </div>
</div>
{% endblock %}