{% extends 'base_login.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6">
    <div class="authentication-inner">
      <!-- New Password -->
      <div class="card">
        <div class="card-body">
          <h4 class="mb-2">Definir Nova Senha 🔒</h4>

          {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary d-grid w-100" type="submit">Redefinir Senha</button>
          </form>
        </div>
      </div>
      <!-- /New Password -->
    </div>
  </div>
</div>
{% endblock %}