<!DOCTYPE html>
{% load static %}
<html
  lang="pt-br"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-semi-dark"
  data-assets-path="{% static 'sneat-template/assets/' %}"
  data-template="vertical-menu-template"
>
  <head>
    <!-- Meta Tags -->
    <meta
      property="og:url"
      content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}"
    />
    <meta name="theme-color" content="#FDC600" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="{{ request.scheme }}://{{ request.get_host }}{% static 'imagens/....webp' %}"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:title" content="" />
    <meta name="description" content="" />
    <meta property="og:description" content="." />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>{% block title%}Sistema{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="#" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/fonts/boxicons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/fonts/fontawesome.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/fonts/flag-icons.css' %}"
    />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/css/rtl/core.css' %}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/css/rtl/theme-semi-dark.css' %}"
      class="template-customizer-theme-css"
    />
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/css/demo.css' %}"
    />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/libs/typeahead-js/typeahead.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/libs/apex-charts/apex-charts.css' %}"
    />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'sneat-template/assets/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'sneat-template/assets/vendor/js/template-customizer.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'sneat-template/assets/js/config.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
      integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    {% if form %}
    <link
      rel="stylesheet"
      href="{% static 'sneat-template/assets/vendor/libs/select2/select2.css' %}"
    />
    {% endif %} {% block extra_head %}{% endblock extra_head %}
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
        >
          <div
            class="app-brand demo d-flex align-items-center justify-content-between"
          >
            <a href="#" class="app-brand-link d-flex align-items-center">
              <span>
                <img
                  src="#"
                  style="width: 60px; position: relative; right: 10px"
                />
              </span>
            </a>
            <a
              href="javascript:void(0);"
              class="layout-menu-toggle menu-link text-large ms-auto"
            >
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <ul class="menu-inner py-1">
            {% for section, items in menu_items.items %}
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">{{ section }}</span>
            </li>

            {% for item in items %}
            <li class="menu-item {% if item.active %}active open{% endif %}">
              {% if item.url_name %}
              <a href="{{ item.url }}" class="menu-link">
                <i class="menu-icon tf-icons {{ item.icon }}"></i>
                <div class="text-truncate">{{ item.label }}</div>
              </a>
              {% else %}
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons {{ item.icon }}"></i>
                <div class="text-truncate">{{ item.label }}</div>
              </a>
              {% if item.sub_items %}
              <ul class="menu-sub">
                {% for sub_item in item.sub_items %}
                <li class="menu-item {% if sub_item.active %}active{% endif %}">
                  <a href="{{ sub_item.url }}" class="menu-link">
                    <div class="text-truncate">{{ sub_item.label }}</div>
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %} {% endif %}
            </li>
            {% endfor %} {% endfor %}

         
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div
              class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
            >
              <a
                class="nav-item nav-link px-0 me-xl-4"
                href="javascript:void(0)"
              >
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div
              class="navbar-nav-right d-flex align-items-center"
              id="navbar-collapse"
            >
              <div class="navbar-nav align-items-center">
                <div
                  class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0"
                >
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                  >
                    <i class="bx bx-sm"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-start dropdown-styles">
                    <li>
                      <a
                        class="dropdown-item"
                        href="javascript:void(0);"
                        data-theme="light"
                      >
                        <span class="align-middle"
                          ><i class="bx bx-sun me-2"></i>Light</span
                        >
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="javascript:void(0);"
                        data-theme="dark"
                      >
                        <span class="align-middle"
                          ><i class="bx bx-moon me-2"></i>Dark</span
                        >
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="javascript:void(0);"
                        data-theme="system"
                      >
                        <span class="align-middle"
                          ><i class="bx bx-desktop me-2"></i>System</span
                        >
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                  >
                    <div class="avatar avatar-online">
                      <img
                        src="{% static 'sneat-template/assets/img/avatars/1.png' %}"
                        alt
                        class="w-px-40 h-auto rounded-circle"
                      />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img
                                src="{% static 'sneat-template/assets/img/avatars/1.png' %}"
                                alt
                                class="w-px-40 h-auto rounded-circle"
                              />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-medium d-block"
                              >{{ user.get_full_name|default:user.username
                              }}</span
                            >
                            <small class="text-muted"
                              >{{ user.profile.role|default:"User" }}</small
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    {% comment %}
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">Meu Perfil</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    {% endcomment %}
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="{% url 'accounts:logout' %}"
                      >
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Sair</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->
          {% if messages %}
          <!-- Alert messages -->
          <div class="container my-3">
            <div class="row">
              <div class="col-12">
                {% include 'snippets/alert_messages.html' %}
              </div>
            </div>
          </div>
          <!-- / Alert messages -->
          {% endif %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            {% block content %} {% endblock %}
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div
                class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
              >
                <!-- <div class="d-none d-lg-inline-block">
                  <a
                    href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >
                </div> -->
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="{% static 'sneat-template/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'sneat-template/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'sneat-template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'sneat-template/assets/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'sneat-template/assets/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'sneat-template/assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>
    <script src="{% static 'sneat-template/assets/vendor/js/menu.js' %}"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'sneat-template/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'sneat-template/assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'sneat-template/assets/js/dashboards-analytics.js' %}"></script>
    {% if form %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"></script>
    {{ form.media.js }} {%endif%}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Função para desabilitar os botões
        function disableButtons() {
          const buttons = document.querySelectorAll("button");
          buttons.forEach(function (button) {
            button.disabled = true;
          });
        }

        // Função para habilitar os botões
        function enableButtons() {
          const buttons = document.querySelectorAll("button");
          buttons.forEach(function (button) {
            button.disabled = false;
          });
        }

        // Limpar o estado de desabilitação ao recarregar ou voltar na navegação
        window.addEventListener("pageshow", function (event) {
          // Verifica se a navegação foi feita via cache (navegação 'voltar')
          if (event.persisted) {
            enableButtons(); // Garante que os botões serão habilitados
          }
        });

        // Desabilitar botões ao enviar o formulário
        document.querySelectorAll("form").forEach(function (form) {
          form.addEventListener("submit", function () {
            disableButtons();
          });
        });

        // Desabilitar botões durante requisições AJAX
        document.addEventListener("ajaxStart", function () {
          disableButtons();
        });

        document.addEventListener("ajaxStop", function () {
          enableButtons();
        });

        // Para lidar com navegação de página (recarregamento)
        window.addEventListener("beforeunload", function () {
          disableButtons();
        });
      });
    </script>

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
