{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<style>
  .botao {
    background-image: linear-gradient(120deg, #619CFF,#896CFF, #B43AFF);
    width: 100%;
    color: white;
  }
  
  .botao:hover {
    background-image: linear-gradient(120deg, #619CFF,#896CFF, #B43AFF);
    color: rgb(255, 255, 255);
  }

  .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.35);
  }
</style>
{% endblock extra_head %}

{% block content %}
<div class="container my-5"></div>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card p-3 shadow-sm">
        <h5 class="card-title text-center">Total Reciclado por Unidade</h5>
        <canvas id="graficoUnidades" width="400" height="150"></canvas>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card p-3 shadow-sm">
        <h5 class="card-title text-center">Total Reciclado por Turma</h5>
        <canvas id="graficoTurmas" width="400" height="150"></canvas>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card p-3 shadow-sm">
        <h5 class="card-title text-center">Total Reciclado por Tipo de Material</h5>
        <canvas id="graficoTipos" width="400" height="150"></canvas>
      </div>
    </div>
  </div>
</div>

<script>

  const ctxUnidades = document.getElementById('graficoUnidades').getContext('2d');
  const chartUnidades = new Chart(ctxUnidades, {
    type: 'bar',
    data: {
      labels: JSON.parse('{{ labels|escapejs }}'),
      datasets: [{
        label: 'Total reciclado (Kg)',
        data: JSON.parse('{{ values|escapejs }}'),
        borderWidth: 1,
        backgroundColor: 'rgba(54, 162, 235, 0.6)',
        borderColor: 'rgba(54, 162, 235, 1)'
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        title: {
          display: true,
          text: 'Total reciclado por unidade'
        }
      }
    }
  });
  
  const ctxTurmas = document.getElementById('graficoTurmas').getContext('2d');
  const chartTurmas = new Chart(ctxTurmas, {
    type: 'bar',
    data: {
      labels: JSON.parse('{{ labels_turma|escapejs }}'),
      datasets: [{
        label: 'Total reciclado (Kg)',
        data: JSON.parse('{{ values_turma|escapejs }}'),
        borderWidth: 1,
        backgroundColor: 'rgba(54, 162, 235, 0.6)',
        borderColor: 'rgba(54, 162, 235, 1)'
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        title: {
          display: true,
          text: 'Total reciclado por turma'
        }
      }
    }
  });

  const ctxTipos = document.getElementById('graficoTipos').getContext('2d');
  const chartTipos = new Chart(ctxTipos, {
    type: 'bar',
    type: 'bar',
    data: {
      labels: JSON.parse('{{ labels_tipo|escapejs }}'),
      datasets: [{
        label: 'Total reciclado (Kg)',
        data: JSON.parse('{{ values_tipo|escapejs }}'),
        borderWidth: 1,
        backgroundColor: 'rgba(54, 162, 235, 0.6)',
        borderColor: 'rgba(54, 162, 235, 1)'
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        title: {
          display: true,
          text: 'Total reciclado por tipo de material'
        }
      }
    }
  });
</script>

{% endblock %}
