{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {{ view.object|default_if_none:"Nova" }} Unidade
{% endblock title %}

{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card border-2 border-dark rounded mb-5 shadow-sm">
        <div class="card-body">
          <h2 class="card-title mb-4">
            {% if view.object %}
              <i class="bi bi-pencil-square me-2"></i>Editar Unidade
            {% else %}
              <i class="bi bi-plus-circle me-2"></i>Nova Unidade
            {% endif %}
          </h2>
          <form method="post" class="row g-3">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-success">
                {% if view.object %}Atualizar{% else %}Salvar{% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
